/* TYPOGRAPHY */
h1, h2, h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
h4, h5{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
p{
    font-family: 'Noto Sans', sans-serif;
}

#covidNotice{
    width: 100%;
    background-color: yellow;
    position: fixed;
    top: 0px;
    z-index: 100;
}

/* NAVBAR */
.customNav{
    position: fixed;
    z-index: 100;
    width: 100%;
    background: transparent !important;
    }
.customNavScroll{
    position: fixed;
    z-index: 100;
    width: 100%;
    background: white !important;
    }
.navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
  }

.nav-item{
    padding-left: 16px !important;
}

.jumbotron{
    height:50vh;
    margin-bottom: 0px;
    padding: 0rem !important;
}
.carousel{
    height: 100% !important;
}

#landingInfo{
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    margin-bottom: 40px;
}

#landingPageGroups{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "group1 group1 group2 group2" "group1 group1 group3 group4";
}
.group1{
    grid-area: group1;
    text-align: center;
    background-color: turquoise;
}
.group2{
    grid-area: group2;
    text-align: center;
    background-color: yellow;
}
.group3{
    grid-area: group3;
    text-align: center;
    background-color: tan;
}
.group4{
    grid-area: group4;
    text-align: center;
    background-color: gainsboro;
}

/* FOOTER */
footer{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 40% 20% 20% 20% 20%;
    grid-template-areas: "logo about ministries resources";
    align-items: baseline;
}
.logoFooter{
    grid-area: logo;
}
.aboutFooter{
    grid-area: about;
}
.ministriesFooter{
    grid-area: ministries;
}
.resourcesFooter{
    grid-area: resources;
}
footer li{
    list-style: none;
    padding-top: 10px;
}